<form class="registration-form">
    <h1>{{'registrationComponent.registration' | transloco}}</h1>
    <mat-form-field appearance="fill">
        <mat-label>{{'registrationComponent.enterYourEmail' | transloco}}</mat-label>
        <input matInput
               type="text"
               name="login"
               autocomplete="username"
               [formControl]="loginFormControl"
               autofocus
               required>
        <mat-error *ngIf="loginFormControl.invalid">{{getEmailErrorMessage() | async}}</mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>{{'registrationComponent.enterYourPassword' | transloco}}</mat-label>
        <input matInput
               [type]="hidePassword ? 'text' : 'password'"
               name="password"
               autocomplete="new-password"
               required
               [formControl]="passwordFormControl"
               (change)="updatePattern()">
        <button mat-icon-button
                matSuffix
                (click)="hidePassword = !hidePassword"
                [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hidePassword">
            <mat-icon>{{hidePassword ? 'visibility' : 'visibility_off'}}</mat-icon>
        </button>
        <mat-error *ngIf="passwordFormControl.invalid">{{getPasswordErrorMessage() | async}}</mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>{{'registrationComponent.repeatYourPassword' | transloco}}</mat-label>
        <input matInput
               [formControl]="secondPasswordFormControl"
               [type]="hideSecondPassword ? 'text' : 'password'"
               name="secondPassword"
               autocomplete="new-password"
               required>
        <button mat-icon-button
                matSuffix
                (click)="hideSecondPassword = !hideSecondPassword"
                [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hideSecondPassword">
            <mat-icon>{{hideSecondPassword ? 'visibility' : 'visibility_off'}}</mat-icon>
        </button>
        <mat-error *ngIf="secondPasswordFormControl.invalid">{{getSecondPasswordErrorMessage() | async}}</mat-error>
    </mat-form-field>
    <button (click)="registration()"
            mat-raised-button>{{'registrationComponent.registration' | transloco}}</button>
</form>
