a {
  color: black;
}

.links {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  width: fit-content;
  margin: 10px auto;
  display: flex;
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px;
  outline: none;
}
