<mat-card>
    <mat-card-actions>
        <button mat-icon-button (click)="openSettings()">
            <mat-icon>settings</mat-icon>
        </button>
    </mat-card-actions>
    <mat-form-field appearance="outline">
        <mat-label>Question for survey</mat-label>
        <input type="text"
               required
               matInput
               [(ngModel)]="survey.question"
               placeholder="Ex. Where do we go this weekend?"
               [formControl]="question">
        <mat-error *ngIf="question.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>
    <div class="answers"
         *ngFor="let answer of this.survey.answers; index as i">
        <div class="answer">
            {{answer.textAnswer}}
            <mat-icon [ngStyle]="{'cursor':'pointer'}"
                      (click)="survey.answers.splice(i, 1)"
                      matTooltip="Delete this answer"
                      matTooltipPosition="below">
                delete
            </mat-icon>
            <mat-icon [ngStyle]="{'cursor':'pointer'}"
                      (click)="showEditAnswerWindow(answer)"
                      matTooltip="Edit this answer"
                      matTooltipPosition="below">
                edit
            </mat-icon>
        </div>
    </div>
    <mat-form-field appearance="outline">
        <mat-label>New answer</mat-label>
        <input type="text"
               matInput
               [(ngModel)]="newAnswer"
               (keyup.enter)="PushAnswer()">
        <button matSuffix
                mat-icon-button
                (click)="PushAnswer()">
            <mat-icon>add</mat-icon>
        </button>
    </mat-form-field>
    <button mat-stroked-button
            color="primory"
            (click)="CreateSurvey()">Create survey</button>
</mat-card>
