.create-survey-form {
  border: 1px solid black;
  border: 1px solid black;
  width: fit-content;
  border-radius: 10px;
  padding: 10px;
  margin: 10px auto;
}

.form {
  display: flex;
  flex-direction: column;
}

.checkboxs {
  display: flex;
  flex-direction: column;
}

.answer {
  display: grid;
  grid-template-columns: 80% 10% 10%;
}
