<mat-card>
    <mat-card-actions>
        <button mat-icon-button (click)="openSettings()">
            <mat-icon>settings</mat-icon>
        </button>
    </mat-card-actions>
    <mat-form-field appearance="outline">
        <mat-label>{{'newSurveyComponent.question' | transloco}}</mat-label>
        <input type="text"
               required
               matInput
               placeholder="{{'newSurveyComponent.example' | transloco}}"
               [formControl]="question">
        <mat-error *ngIf="question.invalid">{{getErrorMessage() | async}}</mat-error>
    </mat-form-field>
    <div class="answers"
         *ngFor="let answer of this.survey.answers; index as i">
        <div class="answer">
            {{answer.textAnswer}}
            <mat-icon [ngStyle]="{'cursor':'pointer'}"
                      (click)="survey.answers.splice(i, 1)"
                      matTooltip="{{'newSurveyComponent.deleteThisAnswer' | transloco}}"
                      matTooltipPosition="below">
                delete
            </mat-icon>
            <mat-icon [ngStyle]="{'cursor':'pointer'}"
                      (click)="showEditAnswerWindow(answer)"
                      matTooltip="{{'newSurveyComponent.editThisAnswer' | transloco}}"
                      matTooltipPosition="below">
                edit
            </mat-icon>
        </div>
    </div>
    <mat-form-field appearance="outline">
        <mat-label>{{'newSurveyComponent.newAnswer' | transloco}}</mat-label>
        <input type="text"
               matInput
               [(ngModel)]="newAnswer"
               (keyup.enter)="PushAnswer()">
        <button matSuffix
                mat-icon-button
                (click)="PushAnswer()">
            <mat-icon>add</mat-icon>
        </button>
    </mat-form-field>
    <button mat-stroked-button
            color="primory"
            (click)="CreateSurvey()">{{'newSurveyComponent.createSurvey' | transloco}}</button>
</mat-card>
