<h1 mat-dialog-title>{{'settingDialog.settingSurvey' | transloco}}</h1>
<div mat-dialog-content>
    <section class="checkboxs">
        <mat-checkbox [(ngModel)]="data.addResponse">{{'settingDialog.addResponse' | transloco}}</mat-checkbox>
    </section>
    <section>
        <mat-form-field appearance="outline">
            <mat-label>{{'settingDialog.minimumVote' | transloco}}</mat-label>
            <input matInput
                   [formControl]="minNumberVoteFormControl"
                   type="number"
                   required
                   (change)="updateMinNumberVoteFormControl()">
            <mat-error *ngIf="minNumberVoteFormControl.invalid">
                {{getErrorMinNumberVote() | async}}
            </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>{{'settingDialog.maximumVote' | transloco}}</mat-label>
            <input matInput
                   [formControl]="maxNumberVoteFormControl"
                   type="number"
                   (change)="updateMaxNumberVoteFormControl()">
            <button mat-button
                    matSuffix
                    mat-icon-button
                    aria-label="Clear"
                    (click)="maxNumberVoteFormControl.reset()">
                <mat-icon>close</mat-icon>
            </button>
            <mat-error *ngIf="maxNumberVoteFormControl.invalid">
                {{getErrorMaxNumberVote() | async}}
            </mat-error>
        </mat-form-field>
    </section>
    <section>
        <mat-form-field appearance="outline">
            <mat-label>{{'settingDialog.chooseDateFrom' | transloco}}</mat-label>
            <input matInput
                   [ngxMatDatetimePicker]="pickerFrom"
                   [min]="minDateFrom()"
                   matTooltip="{{'settingDialog.chooseDateAndTimeFrom' | transloco}}"
                   matTooltipPosition="below"
                   [(ngModel)]="data.abilityVoteFrom">
            <mat-datepicker-toggle matSuffix
                                   [for]="pickerFrom"></mat-datepicker-toggle>
            <ngx-mat-datetime-picker #pickerFrom>
            </ngx-mat-datetime-picker>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>{{'settingDialog.chooseDateTo' | transloco}}</mat-label>
            <input matInput
                   [ngxMatDatetimePicker]="pickerTo"
                   [ngModel]="data.abilityVoteTo"
                   [min]="minDateTo()"
                   matTooltip="{{'settingDialog.chooseDateAndTimeTo' | transloco}}"
                   matTooltipPosition="below"
                   [(ngModel)]="data.abilityVoteTo">
            <mat-datepicker-toggle matSuffix
                                   [for]="pickerTo"></mat-datepicker-toggle>
            <ngx-mat-datetime-picker #pickerTo>
            </ngx-mat-datetime-picker>
        </mat-form-field>
    </section>
</div>
<div mat-dialog-actions>
    <button mat-button
            mat-dialog-close>{{'settingDialog.close' | transloco}}</button>
</div>
