<ng-template tdLoading
             [tdLoadingUntil]="surveyPagination">
    <mat-form-field>
        <mat-label>Search</mat-label>
        <input matInput
               (input)="getSurveys()"
               [(ngModel)]="filter.searchQuery"
               placeholder="Ex. Where are we going"
               #input>
    </mat-form-field>
    <table mat-table
           [dataSource]="dataSource"
           matSort
           (matSortChange)="sortData($event)"
           matSortDisableClear >

        <ng-container matColumnDef="question">
            <th mat-header-cell
                *matHeaderCellDef
                mat-sort-header="Question">Question survey</th>
            <td mat-cell
                *matCellDef="let row"><a [routerLink]="['/survey', row.id]">{{row.question}}</a> </td>
        </ng-container>

        <ng-container matColumnDef="numAnswers">
            <th mat-header-cell
                *matHeaderCellDef
                mat-sort-header="NumberAnswers">Number answers</th>
            <td mat-cell
                *matCellDef="let row"> {{row.answers.length}} </td>
        </ng-container>

        <ng-container matColumnDef="timeCreateSurvey">
            <th mat-header-cell
                *matHeaderCellDef
                mat-sort-header="TimeCreate">Time create survey</th>
            <td mat-cell
                *matCellDef="let row"> {{row.timeCreate|date}} </td>
        </ng-container>

        <ng-container matColumnDef="numberVotes">
            <th mat-header-cell
                *matHeaderCellDef
                mat-sort-header="NumberVotes">Number votes</th>
            <td mat-cell
                *matCellDef="let row"> {{getNumberVotes(row)}} </td>
        </ng-container>
        <ng-container matColumnDef="canEditSurvey">
            <th mat-header-cell
                *matHeaderCellDef
                mat-sort-header="PermissionEdit">Permission on edit</th>
            <td mat-cell
                *matCellDef="let row">
                <a class="fa fa-pencil"
                   *ngIf="isUserOwner(row)"
                   aria-hidden="true"
                   [routerLink]="['/edit-survey', row.id]"></a>
            </td>
        </ng-container>

        <tr mat-header-row
            *matHeaderRowDef="['question', 'numAnswers', 'timeCreateSurvey', 'numberVotes', 'canEditSurvey']"></tr>
        <tr mat-row
            *matRowDef="let row; columns: ['question', 'numAnswers', 'timeCreateSurvey', 'numberVotes', 'canEditSurvey'];"></tr>
        <tr class="mat-row"
            *matNoDataRow>
            <td class="mat-cell"
                colspan="4">No data matching the filter "{{filter.searchQuery}}"</td>
        </tr>
    </table>
    <mat-paginator (page)="requestNewPage($event)"
                   *ngIf="surveyPagination"
                   [pageSizeOptions]="[5, 10, 25, 100]"
                   [pageSize]="surveyPagination.pageSize"
                   [length]="surveyPagination.totalCount"></mat-paginator>
</ng-template>
