<mat-card>
    <ng-container *ngIf="!survey; else surveyDownloaded">
        <mat-spinner></mat-spinner>
    </ng-container>
    <ng-template #surveyDownloaded>
        <mat-card-actions>
            <button mat-icon-button
                    (click)="openSettings()">
                <mat-icon>settings</mat-icon>
            </button>
        </mat-card-actions>
        <mat-form-field appearance="outline">
            <mat-label>{{'editSurveyComponent.question' | transloco}}</mat-label>
            <input required
                   matInput
                   placeholder="{{'editSurveyComponent.example' | transloco}}"
                   [formControl]="question">
            <mat-error *ngIf="question.invalid">{{getErrorMessage() | async}}</mat-error>
        </mat-form-field>
        <div class="answers"
             *ngFor="let answer of this.survey.answers; index as i">
            <div class="answer">
                {{answer.textAnswer}}
                <mat-icon [ngStyle]="{'cursor':'pointer'}"
                          (click)="deleteAnswer(answer).then(survey.answers.splice(i, 1))"
                          matTooltip="{{'editSurveyComponent.deleteThisAnswer' | transloco}}"
                          matTooltipPosition="below">
                    delete
                </mat-icon>
                <mat-icon [ngStyle]="{'cursor':'pointer'}"
                          (click)="showEditAnswerWindow(answer)"
                          matTooltip="{{'editSurveyComponent.editThisAnswer' | transloco}}"
                          matTooltipPosition="below">
                    edit
                </mat-icon>
            </div>
        </div>
        <mat-form-field appearance="outline">
            <mat-label>{{'editSurveyComponent.newAnswer' | transloco}}</mat-label>
            <input matInput
                   [(ngModel)]="newAnswer"
                   (keyup.enter)="addAnswer()">
            <button matSuffix
                    mat-icon-button
                    (click)="addAnswer()">
                <mat-icon>add</mat-icon>
            </button>
        </mat-form-field>
        <button mat-stroked-button
                (click)="saveSurvey()">{{'editSurveyComponent.save' | transloco}}</button>
    </ng-template>
</mat-card>
