<div class="surveys" *ngIf="surveys; else elseTemplate">
  <a
    class="survey"
    *ngFor="let survey of surveys"
    [routerLink]="['/survey', survey.id]"
  >
    <div class="survey-question">{{survey.question}}</div>
    <div class="number-answers">number answers: {{survey.answers.length}}</div>
    <div>time create survey: {{survey.timeCreate|date}}</div>
    <div>votes: {{getNumberVotes(survey)}}</div>
    <a class="fa fa-pencil" aria-hidden="true" [routerLink]="['/edit-survey', survey.id]"></a>
  </a>
</div>
<ng-template #elseTemplate>download</ng-template>
