<td-layout>
    <mat-toolbar color="primary">
        <a mat-icon-button
           routerLink="/">
            <mat-icon>home</mat-icon>
        </a>
        <span>{{title}}</span>
        <span class="spacer"></span>
        <button mat-icon-button
                [matMenuTriggerFor]="menu"
                aria-label="Example icon-button with a menu"
                matTooltip="Change theme">
            <mat-icon>format_paint</mat-icon>
        </button>
        <mat-menu #menu="matMenu" class="menu">
            <button mat-menu-item
                    (click)="onSetTheme('dark-theme')">
                <span>Dark</span>
            </button>
            <button mat-menu-item
                    (click)="onSetTheme('light-theme')">
                <span>Light</span></button>
        </mat-menu>
        <button mat-icon-button
                (click)="logOut()"
                *ngIf="userService.IsUserLogged(); else notLoggedUserTemplate">
            <mat-icon>exit_to_app</mat-icon>
        </button>
        <ng-template #notLoggedUserTemplate>
            <a routerLink="/login-or-registration"
               mat-icon-button>
                <mat-icon>login</mat-icon>
            </a></ng-template>
    </mat-toolbar>
    <router-outlet></router-outlet>
</td-layout>
