<td-layout>
    <mat-toolbar color="primary">
        <a mat-icon-button
           routerLink="/">
            <mat-icon>home</mat-icon>
        </a>
        <span>{{title}}</span>
        <span class="spacer"></span>

        <button mat-icon-button
                [matMenuTriggerFor]="menuLang"
                matTooltip="{{'changeLang'|transloco}}">
            <mat-icon>translate</mat-icon>
        </button>
        <mat-menu #menuLang="matMenu">
            <button mat-menu-item
                    *ngFor="let lang of getLangs()"
                    (click)="onSetLang(lang)">
                {{lang | transloco}}
            </button>
        </mat-menu>

        <button mat-icon-button
                [matMenuTriggerFor]="menuTheme"
                matTooltip="{{'changeTheme' | transloco}}">
            <mat-icon>format_paint</mat-icon>
        </button>
        <mat-menu #menuTheme="matMenu">
            <button mat-menu-item
                    (click)="onSetTheme('dark-theme')">
                <span>{{'darkTheme'| transloco}}</span>
            </button>
            <button mat-menu-item
                    (click)="onSetTheme('light-theme')">
                <span>{{'lightTheme' | transloco}}</span></button>
        </mat-menu>
        
        <button mat-icon-button
                (click)="logOut()"
                matTooltip="{{'logOut' | transloco}}"
                *ngIf="userService.IsUserLogged(); else notLoggedUserTemplate">
            <mat-icon>exit_to_app</mat-icon>
        </button>
        <ng-template #notLoggedUserTemplate>
            <a routerLink="/login-or-registration"
               matTooltip="{{'loginOrRegistration'|transloco}}"
               mat-icon-button>
                <mat-icon>login</mat-icon>
            </a></ng-template>
    </mat-toolbar>
    <router-outlet></router-outlet>
</td-layout>
