<td-layout>
  <header class="Header" *ngIf="userService.IsUserLogged(); else elseTemplate">
    <div class="authorize-links" (click)="navigateHome()">Home</div>
    <div class="authorize-links" (click)="logOut()">logOut</div>
  </header>
  <ng-template #elseTemplate>
    <header class="Header">
      <div *ngFor="let link of links">
        <a [routerLink]="[link.link]">{{link.title}}</a>
      </div>
    </header>
  </ng-template>
  <router-outlet></router-outlet>
</td-layout>
