<mat-card>
    <ng-container *ngIf="!survey; else surveyDownloaded">
        <mat-spinner></mat-spinner>
    </ng-container>
    <ng-template #surveyDownloaded>
        <mat-card-title class="survey-question">
            {{survey.question}}
        </mat-card-title>
        <mat-card-content class="survey-answers"
                          *ngIf="survey.answers">
            <section class="answer mat-primary"
                     *ngFor="let answer of survey.answers"
                      ><!--style.background="linear-gradient(to right,
             #7b1fa2 {{answer.votes.length/voteCountInSurvey*100}}%,
        transparent {{answer.votes.length/voteCountInSurvey*100-100}}%)" -->
                <mat-checkbox [(checked)]="answer.isUserVote"
                              [disabled]="!getAbilityVote(answer)"
                              (change)="vote($event,answer.id)">
                    {{answer.textAnswer}}
                </mat-checkbox>
            </section>
        </mat-card-content>
        <mat-card-actions class="survey-add-response"
                          *ngIf="survey.addResponse &&
                          !isUserVote ||
                          survey.user &&
                          survey.user.login === user.login">
            <mat-form-field appearance="outline">
                <mat-label>New answer</mat-label>
                <input type="text"
                       matInput
                       [(ngModel)]="newAnswer"
                       (keyup.enter)="addAnswer()">
                <button matSuffix
                        mat-icon-button
                        (click)="addAnswer()">
                    <mat-icon>add</mat-icon>
                </button>
            </mat-form-field>
        </mat-card-actions>
        <div class="survey-creator"
             *ngIf="survey.user">
            careator: {{survey.user.login}}
        </div>
        <div class="time-permission">
            <ng-container *ngIf="!getAbilityDateTimeVote(); else elseTemplate;">
                You will be able to vote via <br> {{getDeadtimeFrom(survey.abilityVoteFrom)}} (start from {{survey.abilityVoteFrom |date:'dd.MM.yyyy HH:mm'}})
            </ng-container>
            <ng-template #elseTemplate>
                <ng-container *ngIf="survey.abilityVoteTo; else timeIsUnlimited">
                    Voting will end {{getDeadtimeFrom(survey.abilityVoteTo)}} <br> (end {{survey.abilityVoteTo |date:'dd.MM.yyyy HH:mm'}})
                </ng-container>
                <ng-template #timeIsUnlimited>
                    Voting time is unlimited
                </ng-template>
            </ng-template>
        </div>
    </ng-template>
    <button mat-raised-button
            (click)="sendVotes()"
            [disabled]="isUserVote">
        Vote
    </button>
</mat-card>
