<div class="component">
  <div class="survey" *ngIf="survey; else elseTemplate">
    <div class="survey-question">
      {{survey.question}}
    </div>
    <div class="survey-answers">
      <div class="answer" *ngFor="let answer of survey.answers">
        <input type="checkbox" name="answer" [(ngModel)]="answer.isUserVote"
          [disabled]="!survey.severalAnswer && isVote(survey)" (click)="vote(answer.id)">
        {{answer.textAnswer}}
      </div>
    </div>
    <div class="survey-add-response">
      <div *ngIf="survey.addResponse||survey.user.login===user.login">
        <input type="text" [(ngModel)]="newAnswer">
        <input type="button" value="Add" (click)="addAnswer(survey.id)">
      </div>
    </div>
    <div class="survey-creator">
      careator: {{survey.user.login}}
    </div>
  </div>

  <ng-template #elseTemplate>
    download
  </ng-template>
</div>
