.mat-card {
  width: fit-content;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.survey-add-response {
  margin: auto;
}

.survey-creator {
  align-items: flex-end;
  display: flex;
  flex: auto;
  justify-content: center;
}

.time-permission {
  margin: auto;
}
